  .menu-area {
    background: #dcdcdc;
    padding: 10%;
    margin: 10%;
    border-radius: 15px;

    .icon-row {
      display: flex;

      .icon {
        width: 250px;

        img {
          display: table;
          margin: auto;
          outline: none;
          cursor: pointer;
        }
      }
    }

    .button-row {
      display: flex;

      .mat-button {
        color: var(--btnRaisedColor);
        font-weight: bold;
        font-size: 18px;
        height: 70px;
        border-radius: var(--btnRaisedRadius);
        padding: 3px;
        width: 250px;
        outline: none;
        border: none;
        white-space: normal;
        background: var(--btnRaisedBackground);
        line-height: unset !important;
      }
    }
  }
