.hole-page {
  background: #e4e4e4;
  height: 100%;
  padding: 15px;

  .menu-area {
    background: #dcdcdc;
    padding: 10%;
    margin: 10%;
    border-radius: 15px;

    .button-row {
      display: flex ;

      a {
        margin: 0 1%;
        height: 60px;
        width: 31%;

        ::ng-deep .mat-button-wrapper {
          vertical-align: text-top;
          font-size: xx-large;
          color: #0056b3;
        }
      }
    }
  }
}
